@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.LeftLest {
    width: 290px;
    background: #0084ff;
    text-align: -webkit-center;
    height: 652px;
    border-radius: 0 0 0 41px;
    position: fixed;
}
.RightPage {
    width: 79%;
    margin: 0 286px 0 0;
}
.logo {
    padding:0;
    background: #fcfcfce6;
    text-align: center;
}
.logo img {
    width: 154px;
}
ul {
    padding: 16px 0px;
}
li {
    margin: 13px 0px;
    padding: 13px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-a1{ margin: 0 12px;}
.li-a2 {margin: 0 25px;}
.li-a3 {margin: 0 45px;}
.li-a4 {margin: 0 39px;}
.li-a5 {margin: 0 11px;}
.li-a6 {margin: 0 33px;}
.li-a7 {margin: 0 31px;}
i.fa-solid.fa-user-doctor.style\= {
    color: #ffff;
}
.li-add {
    border-top: 1px #ffffff4a solid;
    margin: 0 26px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    color: #fff;
}
.account {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
}
.userimg {
    width: 36px;
    border-radius: 50%;
    margin: 2px 10px;
}
h3.username {
    font-family: 'Cairo';
    color: #ffff;
}
.topshert {
    background: #0084ff;
    padding: 2.5px 0;
    margin: 6px 0 0 0;
    border-radius: 60px 0px 0px 52px;
}

.title {
    margin: 11px;
    text-align: center;
    font-size: 23px;
    font-family: 'Cairo';
    font-weight: 900;
}
.title {
    margin: 11px 194px;
    text-align: center;
    font-size: 23px;
    font-family: 'Cairo';
    font-weight: 900;
    border-bottom: 1px solid #0084ff4a;
}

.HosCart {
    padding: 20px 25px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.H-Cart {
    width: 226px;
    border-radius: 30px;
    background: #15191c;
    height: 327px;
    box-shadow: 1px 1px 4px 0px black;
    margin: 11px 11px;
}
.Img-Cart-H img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}
.ditels-cart {
    text-align: end;
    padding: 16px;
}
.ditels-cart h1 {
    color: #fff;
    font-family: 'Cairo';
    font-size: 17px;
}
.ditels-cart p {
    color: #fff;
    font-size: 18px;
    margin: 8px 0px;
}
.showDiv {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Cairo', sans-serif;
    color: #fff;
    background: #556b2fd6;
    padding: 2px 69px;
    border-radius: 15px;
    position: relative;
    top: 50px;
    transition: .5s;
    z-index: 0;
}
.showDiv:hover{
        background: #0084ff;

}
.list {
    font-size: 26px;
    width: 25px;
    margin: 6px;
    color: #fff;
    display: none;
}


@media screen and (max-width: 688px) {
    .LeftLest {
        display: none;
    }
    .list {
        display: block;
        z-index: 10000;
    }
    .RightPage {
        width: 100%;
        margin: 0;
    }
    .title {
        margin: 11px 7px;
    }
    .LeftLest {
        width: 100%;
        border-radius: 0 0 41px 41px;
  }
}
  .activve{
    display: block;
    z-index: 1000;
}
.colors{
    color: #0084ff;
}